NEXT_PUBLIC_COLLAB_SERVER_URL=
AUTH_TRUST_HOST=

GEMINI_API_KEY=
GROQ_API_KEY=
MISTRAL_API_KEY=

DATABASE_URL=
AUTH_SECRET=
AUTH_URL=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
